[*]
end_of_line = lf
insert_final_newline = true

# Default charset
[*.{js,ts}]
charset = utf-8

# Source files
[{src,test}/**.{ts,js,json}]
indent_style = space
indent_size = 2

# Config files
[{package.json,tsconfig.json}]
indent_style = space
indent_size = 2
